h1,h2,h3,p{
    text-align: center;
    display: block;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-size: 58px;
}

h2{
    font-size: 38px;
}

h3,p,li,div{
    font-size: 22px;
}

img,ul,ol{
    display: block;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

img{
    border-radius: 25px;
}

div{
    text-align: center;
}

body,html{
    font-family: 'Open Sans';
    background-color: #ffcc99;
}

h1,h2,h3{
    color: grey;
}