* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  color: grey;
  text-align: center;
}

h1 {
  font-size: 58px;
}

h2,
h3 {
  font-size: 32px;
}

body {
  background-color: #ffe4af;
  font-family: "open sans";
  font-weight: 600;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

p,
li {
  margin: auto;
  width: 80%;
  font-size: 28px;
}

p {
  text-align: center;
}

.center {
  text-align: center;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
  cursor: pointer;
}
img {
  width: 400px;
  height: auto;
}
